$icomoon-font-family: "vgmstream" !default;
$icomoon-font-path: "fonts" !default;

$vgs-ubuntu: "\e916";
$vgs-cog-path1: "\e930";
$vgs-cog-path2: "\e931";
$vgs-cog-path3: "\e932";
$vgs-cog-path4: "\e933";
$vgs-cog-path5: "\e934";
$vgs-xmplay-path1: "\e928";
$vgs-xmplay-path2: "\e929";
$vgs-xmplay-path3: "\e92a";
$vgs-xmplay-path4: "\e92b";
$vgs-xmplay-path5: "\e92c";
$vgs-xmplay-path6: "\e92d";
$vgs-xmplay-path7: "\e92e";
$vgs-xmplay-path8: "\e92f";
$vgs-discord: "\e927";
$vgs-losnoco-path1: "\e90f";
$vgs-losnoco-path2: "\e910";
$vgs-losnoco-path3: "\e911";
$vgs-losnoco-path4: "\e912";
$vgs-losnoco-path5: "\e913";
$vgs-losnoco-path6: "\e914";
$vgs-losnoco-path7: "\e915";
$vgs-losnoco-path8: "\e920";
$vgs-losnoco-path9: "\e921";
$vgs-losnoco-path10: "\e922";
$vgs-losnoco-path11: "\e923";
$vgs-losnoco-path12: "\e924";
$vgs-losnoco-path13: "\e925";
$vgs-losnoco-path14: "\e926";
$vgs-vgmstream-path1: "\e917";
$vgs-vgmstream-path2: "\e91f";
$vgs-hcs-path1: "\e918";
$vgs-hcs-path2: "\e919";
$vgs-hcs-path3: "\e91a";
$vgs-hcs-path4: "\e91b";
$vgs-hcs-path5: "\e91c";
$vgs-hcs-path6: "\e91d";
$vgs-hcs-path7: "\e91e";
$vgs-foobar2000-path1: "\e90a";
$vgs-foobar2000-path2: "\e90b";
$vgs-foobar2000-path3: "\e90c";
$vgs-foobar2000-path4: "\e90d";
$vgs-foobar2000-path5: "\e90e";
$vgs-audacious-path1: "\e907";
$vgs-audacious-path2: "\e908";
$vgs-audacious-path3: "\e909";
$vgs-winamp-path1: "\e900";
$vgs-winamp-path2: "\e901";
$vgs-winamp-path3: "\e902";
$vgs-winamp-path4: "\e903";
$vgs-winamp-path5: "\e904";
$vgs-winamp-path6: "\e905";
$vgs-winamp-path7: "\e906";
$vgs-download: "\e9c2";
$vgs-terminal: "\ea81";
$vgs-windows: "\eac2";

